* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  list-style-type: none;
  background-color: white;
}
body {
  background-image: url("../assets/court.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.hide {
  display: none;
}

body,
.presentation,
form,
.questionDiv,
.answerDiv,
.finalResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.presentation {
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
}

.presentation > h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.presentation > div > *,
.answerDiv,
.finalResult {
  padding: 2rem;
}
form > *,
ul > li {
  margin: 0.5rem;
}

form,
.rulesDiv {
  font-size: 1.3rem;
}

form > input,
form > button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: solid 1px lightgray;
}

.questionDiv {
  width: 70%;
  display: none;
  border-radius: 20px;
}

.questionDiv > *,
.answerDiv > *,
.finalResult > * {
  margin: 2rem;
}
.answerDiv h2,
.finalResult h2 {
  font-size: 3rem;
}
.question,
.answerDiv h3 {
  font-size: 2.5rem;
}

.questionDiv button,
.answerDiv button,
.finalResult button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: solid 1px black;
  font-size: 1.5rem;
  width: 40%;
}

.questionDiv > div {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.questionNumber,
.roundPoints,
.numberRightAnswer,
.pointsEarned {
  font-size: 2rem;
}

.answerDiv {
  border-radius: 20px;
}

.finalResult {
  border-radius: 20px;
}

.answerDiv img {
  max-width: 300px;
  height: auto;
}

.secondsLeft {
  font-size: 1.7rem;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: 100;
  border-radius: 20px;
}

.popup > * {
  background-color: red;
  color: white;
  margin: 3rem;
}
.popup > h2 {
  font-size: 3rem;
}
.popup > h3 {
  font-size: 2rem;
}
.popup > p {
  font-size: 1.5rem;
}
.popup > button {
  background-color: blue;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 25px;
  font-weight: 500;
}
